<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Three Column Layout</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <p>自身浮动</p>
    <div class="selfFloat">
        <div class="left"></div>
        <div class="right"></div>
        <div class="main"></div>
    </div>
    <p>绝对定位</p>
    <div class="absolutePosition">
        <div class="left"></div>
        <div class="right"></div>
        <div class="main"></div>
    </div>
    <p>margin负值法</p>
    <div class="marginColumn">
        <div class="main">
            <div class="content"></div>
        </div>
        <div class="left"></div>
        <div class="right"></div>
    </div>
    <p>flex</p>
    <div class="flexContent">
        <div class="left"></div>
        <div class="main"></div>
        <div class="right"></div>
    </div>
</body>
</html>